@model IEnumerable<DescalificacionesM.Models.Descalificacion>

@{
    ViewBag.Title = "Códigos de Descalificación";
}

@*<h2>Index</h2>*@

<p>
    @Html.ActionLink("Nuevo Código de Descalificación", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoFINA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoFINA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estilo.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoFINA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoFINA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estilo.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DescalificacionID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.DescalificacionID }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.DescalificacionID })
        </td>
    </tr>
}

</table>

<ul data-role="listview" data-inset="true">
    @*<li data-role="list-divider">Navigation</li>*@
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
</ul>