@{
    ViewBag.Title = "Descalificaciones";
}

<h2>@ViewBag.Message</h2>

<ul data-role="listview" data-inset="true">
    @*<li data-role="list-divider">Administración</li>*@
    @*<li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
    <li>@Html.ActionLink("Ramas", "Index", "Rama")</li>
    <li>@Html.ActionLink("Estilos", "Index", "Estilo")</li>
    <li>@Html.ActionLink("Códigos de Descalificación", "Index", "Descalificacion")</li>*@
    <li>@Html.ActionLink("Competencias", "Index", "Competencia")</li>
    <li>@Html.ActionLink("Eventos", "Index", "Evento")</li>
    <li>@Html.ActionLink("Pruebas", "Index", "Prueba")</li>
    <li>@Html.ActionLink("Heat", "Index", "Heat")</li>
    <li>@Html.ActionLink("Descalificación de Nadadores", "Index", "Nadador")</li>
</ul>